Options +FollowSymLinks -MultiViews
redirect index.html home.html
Redirect gaming.html https://www.youtube.com/watch?v=dQw4w9WgXcQ
ErrorDocument 404 /404.html

DirectoryIndex index.html

# mod_rewrite starts here

RewriteEngine on

# does not apply to apply to existing directories, meaning that if the folder exists on the server then don't change anything and don't run the Rule!

RewriteCond %{REQUEST_FILENAME} !-d

# Check for file in directory woth .html extension

RewriteCond %{REQUEST_FILENAME}\.html -f

# Here we hide index.html in the url

RewriteCond %{THE_REQUEST} \/index\.(php|html)\ HTTP [NC]
RewriteRule ^index\.html$ / [R=301,L]
RewriteRule (.*)index\.(php|html)$ /$1 [R=301,L]

# Here we actually show the page that has the .html extension

RewriteRule ^(.*)$ $1.html [NC, L]

# 404

RewriteCond %{REQUEST_URI} \.html$
RewriteCond %{QUERY_STRING} !rw=1 [NC]
RewriteRule ^ - [R=404]

#Rewrite

RewriteRule ^([0-9]+).html /home [QSA,L]
