ErrorDocument 404 /404_not_found.html

# mod_rewrite starts here

RewriteEngine on

# does not apply to apply to existing directories, meaning that if the folder exists on the server then don't change anything and don't run the Rule!

RewriteCond %{REQUEST_FILENAME} !-d

# Check for file in directory woth .html extension

RewriteCond %{REQUEST_FILENAME}\.html -f

# Here we hide index.html in the url

RewriteCond %{THE_REQUEST} /index.html HTTP [NC]
RewriteRule ^index\.html$ / [R=301,L]
RewriteRule (.*)index.html$ /$1 [R=301,L]

# Here we actually show the page that has the .html extension

RewriteRule ^(.*)$ $1.html [NC, L]
