/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}






.main-page-h1 {
    color: rgb(0, 0, 0);
    font-size: 60px;
    margin: 0px;
    text-align:  center;
    -webkit-text-stroke: 2px white;
}

.main-page-h2 {
  color: rgb(0, 0, 0);
  font-size: 55px;
  margin: 0px;
  text-align: center;
  -webkit-text-stroke: 2px white;
}

.main-page-paragraph {
  color: brown;
  font-size: 35px;
  margin: 100px;
  text-align: center;

}

nav {
    width: 100%;
    height: 100px;
    background-color: rgb(201, 201, 201);
    position: absolute;
    left: 0px;
    margin: 0px;
    padding: 0px;
    
}

ul {
    margin-top: 100px;
    margin: 0px;
    padding: 0px;
}

ul li {
    list-style: none;
    display: inline-block;
    margin-top: 100px;
    margin: 0px;
    padding: 0px;
}

ul li a {
    text-decoration: none;
    font-size: 28px;
    font-family: sans-serif;
    margin-top: 100px;
    margin-left: 80px;
    padding: 30px;  
    color: #1e1e1e
    
}

ul li a:hover {
    color: rgb(173, 58, 58);
}

.img-bg {
    max-width: 100%;
    max-height: 100%;
}

.contacticon {
    margin-top: 0px;
    position: absolute;
    top: 30px;
    left: 120px;
    height: 64px;
    width: 64px;
}

.yticon {
    margin-top: 0px;
    position: absolute;
    left: 350px;
    top: 30px;
    width: 96px;
    height: 64px;
}

.twittericon {
    margin-top: 0px;
    position: absolute;
    left: 615px;
    top: 30px;
    height: 64px;
    width: 64px;
}

.twitchicon {
    margin-top: 0px;
    position: absolute;
    left: 840px;
    top: 30px;
    height: 64px;
    width: 64px;
}

.instaicon {
    margin-top: 0px;
    position: absolute;
    left: 1090px;
    top: 30px;
    height: 64px;
    width: 64px;
}

.thingsicon {
    margin-top: 0px;
    position: absolute;
    left: 1370px;
    top: 30px;
    height: 64px;
    width: 64px;
}

.wrapper {
    width: 100%;
}







@media only screen and (min-width: 768px) {
    .main-page-h1 {
        color: rgb(0, 0, 0);
        font-size: 60px;
        position: absolute;
        top: 130px;
        margin: 0px;
        text-align:  center;
        -webkit-text-stroke: 1px white;
    }
    
    .main-page-h2 {
      color: rgb(0, 0, 0);
      font-size: 55px;
      position: absolute;
      top: 310px;
      margin: 0px;
      text-align: center;
      -webkit-text-stroke: 1px white;
    }
    
    .main-page-paragraph {
      color: brown;
      font-size: 35px;
      margin: 100px;
      text-align: center;
    
    }
    
    nav {
        width: 1920px;
        height: 100px;
        background-color: rgb(201, 201, 201);
        position: absolute;
        left: 0px;
        margin: 0px;
        padding: 0px;
        display: none;
    }
    
    ul {
        margin-top: 100px;
        margin: 0px;
        padding: 0px;
    }
    
    ul li {
        list-style: none;
        display: inline-block;
        margin-top: 100px;
        margin: 0px;
        padding: 0px;
    }
    
    ul li a {
        text-decoration: none;
        font-size: 28px;
        font-family: sans-serif;
        margin-top: 100px;
        margin-left: 105px;
        padding: 0px;  
        display: none;
        color: #1e1e1e;
    }
    
    ul li a:hover {
        color: rgb(173, 58, 58);
    }
    
    .img-bg {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        left: 0;
        background-color: rgb(128, 128, 128);
    }
    
    .contacticon {
        margin-top: 0px;
        position: absolute;
        top: 30px;
        left: 121px;
        height: 64px;
        width: 64px;
    }
    
    .yticon {
        margin-top: 0px;
        position: absolute;
        left: 311px;
        top: 30px;
        width: 96px;
        height: 64px;
    }
    
    .twittericon {
        margin-top: 0px;
        position: absolute;
        left: 545px;
        top: 30px;
        height: 64px;
        width: 64px;
    }
    
    .twitchicon {
        margin-top: 0px;
        position: absolute;
        left: 730px;
        top: 30px;
        height: 64px;
        width: 64px;
    }
    
    .instaicon {
        margin-top: 0px;
        position: absolute;
        left: 941px;
        top: 30px;
        height: 64px;
        width: 64px;
    }

    .patreonicon {
        width: 95px;
        height: 64px;
        position: absolute;
        left: 1146px;
        top: 30px;
    }

    .discordicon {
        width: 64px;
        height: 64px;
        position: absolute;
        left: 1365px;
        top: 30px;
    }
    
    .thingsicon {
        margin-top: 0px;
        position: absolute;
        left: 652px;
        top: 1062px;
        height: 64px;
        width: 64px;
    }

    .discordwidget {
        border-radius: 15px;
        border: 4px solid black;
        width: 450px;
        position: absolute;
        top: 462px;
        left: 172px;
    }

    .mostrecentupload {
        border-radius: 10px;
        border: 6px ridge black;
        position: absolute;
        left: 61px;
        top: 74px;
        width: 640px;
        height: 360px;
    }

    .clickable-matthewtgm {
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 55px;
        margin: 0px;
        text-align: center;
        -webkit-text-stroke: 1px white;
        position: absolute;
        top: 0px;
        left: 232px;
    }

    .clickable-matthewtgm:hover {
        cursor:pointer;
        float: right;
        top: 97px;
        left: 775px;
    }
}














@media only screen and (min-width: 1000px) {
    .main-page-h1 {
        color: rgb(0, 0, 0);
        font-size: 60px;
        position: absolute;
        top: 130px;
        margin: 0px;
        text-align:  center;
        -webkit-text-stroke: 1px white;
    }
    
    .main-page-h2 {
      color: rgb(0, 0, 0);
      font-size: 55px;
      position: absolute;
      top: 310px;
      margin: 0px;
      text-align: center;
      -webkit-text-stroke: 1px white;
    }
    
    .main-page-paragraph {
      color: brown;
      font-size: 35px;
      margin: 100px;
      text-align: center;
    
    }
    
    nav {
        width: 1920px;
        height: 100px;
        background-color: rgb(201, 201, 201);
        position: absolute;
        left: 0px;
        margin: 0px;
        padding: 0px;
        display: block;
        
    }
    
    ul {
        margin-top: 100px;
        margin: 0px;
        padding: 0px;
    }
    
    ul li {
        list-style: none;
        display: inline-block;
        margin-top: 100px;
        margin: 0px;
        padding: 0px;
    }
    
    ul li a {
        text-decoration: none;
        font-size: 28px;
        font-family: sans-serif;
        margin-top: 91px;
        margin-left: 93px;
        padding: 0px;  
        display: inline;
        color: #1e1e1e; 
    }
    
    ul li a:hover {
        color: rgb(173, 58, 58);
    }
    
    .img-bg {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        left: 0;
        background-color: rgb(128, 128, 128);
    }
    
    .contacticon {
        margin-top: 0px;
        position: absolute;
        top: 30px;
        left: 111px;
        height: 64px;
        width: 64px;
    }
    
    .yticon {
        margin-top: 0px;
        position: absolute;
        left: 292px;
        top: 30px;
        width: 96px;
        height: 64px;
    }
    
    .twittericon {
        margin-top: 0px;
        position: absolute;
        left: 505px;
        top: 30px;
        height: 64px;
        width: 64px;
    }
    
    .twitchicon {
        margin-top: 0px;
        position: absolute;
        left: 680px;
        top: 30px;
        height: 64px;
        width: 64px;
    }
    
    .instaicon {
        margin-top: 0px;
        position: absolute;
        left: 882px;
        top: 30px;
        height: 64px;
        width: 64px;
    }

    .patreonicon {
        width: 95px;
        height: 64px;
        position: absolute;
        left: 1074px;
        top: 30px;
    }

    .discordicon {
        width: 64px;
        height: 64px;
        position: absolute;
        left: 1275px;
        top: 30px;
    }
    
    .thingsicon {
        margin-top: 0px;
        position: absolute;
        left: 1502px;
        top: 30px;
        height: 64px;
        width: 64px;
    }

    .musicicon {
        margin-top: 0px;
        position: absolute;
        left: 1711px;
        top: 30px;
        width: 64px;
        height: 64px;
    }

    .discordwidget {
        border-radius: 15px;
        border: 4px solid black;
        width: 450px;
        position: absolute;
        top: 800px;
        left: 700px;
    }

    .mostrecentupload {
        border-radius: 10px;
        border: 6px ridge black;
        position: absolute;
        left: 502px;
        top: 225px;
        width: 854px;
        height: 480px;
    }

    .clickable-matthewtgm {
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 55px;
        margin: 0px;
        text-align: center;
        -webkit-text-stroke: 1px white;
        position: absolute;
        top: 101px;
        left: 771px;
    }

    .clickable-matthewtgm:hover {
        cursor:pointer;
        float: right;
        top: 97px;
        left: 775px;
    }
}
