/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.btn-envelope {
    width: 56px;
    height: 32px;
    position: relative;
    top: 10px;
    border: 2px solid white;
    border-radius: 20px;
}

.btn-phone {
    width: 38px;
    height: 48px;
    position: relative;
    top: 20px;
    border: 2px solid white;
    border-radius: 13px;
}







/*  ### FOOTER ### */

.footer {
    background: rgb(88, 88, 88);
    color: rgb(168, 168, 168);
    height: 300px;
    position: relative;
    top: 1330px;
}

.footer .footer-content {
    height: 250px;
    display: flex;
}

.footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;
    border: 1px solid rgb(165, 165, 165);
}

.footer .footer-content .footer-section .contact {
    position: relative;
    top: 20px;
    left: 150px;
}

.footer .footer-content .footer-section .contact span {
    font-size: 21px;
    color: rgb(218, 218, 218)
}

.footer .footer-content h1,
.footer .footer-content h2 {
    color: white;
}

.footer .footer-content .about h1 span {
    font-size: 25px;
    color: lightblue;
}

.footer .footer-content .about h1 {
    font-size: 25px;
    color: gold;
}

.footer .footer-content .links ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: rgb(219, 211, 211);

    transition: all 0.5s ease-in;
}

.footer .footer-content .links ul a:hover {
    color: rgb(255, 78, 78);

    transition: all 0.5s ease-in;
}

.footer .footer-bottom {
    background: rgb(71, 71, 71);
    color: rgb(145, 145, 145);
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    border: 1px solid rgb(129, 129, 129)
}

.img-bg, body {
    height: 100%;
    background-color: rgb(128, 128, 128);
}

/* #### END OF FOOTER #### */














.main-page-h1 {
    color: rgb(0, 0, 0);
    font-size: 60px;
    margin: 0px;
    text-align:  center;
    -webkit-text-stroke: 2px white;
}

.main-page-h2 {
  color: rgb(0, 0, 0);
  font-size: 55px;
  margin: 0px;
  text-align: center;
  -webkit-text-stroke: 2px white;
}

.main-page-paragraph {
  color: brown;
  font-size: 35px;
  margin: 100px;
  text-align: center;

}

nav {
    width: 100%;
    height: 100px;
    background-color: rgb(175, 175, 175);
    position: absolute;
    left: 0px;
    margin: 0px;
    padding: 0px;
    
}

ul {
    margin-top: 100px;
    margin: 0px;
    padding: 0px;
}

ul li {
    list-style: none;
    display: inline-block;
    margin-top: 100px;
    margin: 0px;
    padding: 0px;
}

ul li a {
    text-decoration: none;
    font-size: 28px;
    font-family: sans-serif;
    margin-top: 100px;
    margin-left: 80px;
    padding: 30px;  
    color: #1e1e1e
    
}

ul li a:hover {
    color: rgb(173, 58, 58);
}

.contacticon {
    margin-top: 0px;
    position: absolute;
    top: 30px;
    left: 120px;
    height: 64px;
    width: 64px;
}

.yticon {
    margin-top: 0px;
    position: absolute;
    left: 350px;
    top: 30px;
    width: 96px;
    height: 64px;
}

.twittericon {
    margin-top: 0px;
    position: absolute;
    left: 615px;
    top: 30px;
    height: 64px;
    width: 64px;
}

.twitchicon {
    margin-top: 0px;
    position: absolute;
    left: 840px;
    top: 30px;
    height: 64px;
    width: 64px;
}

.instaicon {
    margin-top: 0px;
    position: absolute;
    left: 1090px;
    top: 30px;
    height: 64px;
    width: 64px;
}

.thingsicon {
    margin-top: 0px;
    position: absolute;
    left: 1370px;
    top: 30px;
    height: 64px;
    width: 64px;
}

.wrapper {
    width: 100%;
}







@media only screen and (min-width: 768px) {
    .main-page-h1 {
        color: rgb(0, 0, 0);
        font-size: 60px;
        position: absolute;
        top: 130px;
        margin: 0px;
        text-align:  center;
        -webkit-text-stroke: 1px white;
    }
    
    .main-page-h2 {
      color: rgb(0, 0, 0);
      font-size: 55px;
      position: absolute;
      top: 310px;
      margin: 0px;
      text-align: center;
      -webkit-text-stroke: 1px white;
    }
    
    .main-page-paragraph {
      color: brown;
      font-size: 35px;
      margin: 100px;
      text-align: center;
    
    }
    
    nav {
        width: 1920px;
        height: 100px;
        background-color: rgb(175, 175, 175);
        position: absolute;
        left: 0px;
        margin: 0px;
        padding: 0px;
        display: none;
    }
    
    ul {
        margin-top: 100px;
        margin: 0px;
        padding: 0px;
    }
    
    ul li {
        list-style: none;
        display: inline-block;
        margin-top: 100px;
        margin: 0px;
        padding: 0px;
    }
    
    ul li a {
        text-decoration: none;
        font-size: 28px;
        font-family: sans-serif;
        margin-top: 100px;
        margin-left: 105px;
        padding: 0px;  
        display: none;
        color: #1e1e1e;
    }
    
    ul li a:hover {
        color: rgb(173, 58, 58);
    }
    
    .contacticon {
        margin-top: 0px;
        position: absolute;
        top: 30px;
        left: 121px;
        height: 64px;
        width: 64px;
    }
    
    .yticon {
        margin-top: 0px;
        position: absolute;
        left: 311px;
        top: 30px;
        width: 96px;
        height: 64px;
    }
    
    .twittericon {
        margin-top: 0px;
        position: absolute;
        left: 545px;
        top: 30px;
        height: 64px;
        width: 64px;
    }
    
    .twitchicon {
        margin-top: 0px;
        position: absolute;
        left: 730px;
        top: 30px;
        height: 64px;
        width: 64px;
    }
    
    .instaicon {
        margin-top: 0px;
        position: absolute;
        left: 941px;
        top: 30px;
        height: 64px;
        width: 64px;
    }

    .patreonicon {
        width: 95px;
        height: 64px;
        position: absolute;
        left: 1146px;
        top: 30px;
    }

    .discordicon {
        width: 64px;
        height: 64px;
        position: absolute;
        left: 1365px;
        top: 30px;
    }
    
    .thingsicon {
        margin-top: 0px;
        position: absolute;
        left: 652px;
        top: 1062px;
        height: 64px;
        width: 64px;
    }

    .discordwidget {
        border-radius: 15px;
        border: 4px solid black;
        width: 450px;
        position: absolute;
        top: 462px;
        left: 242px;
    }

    .mostrecentupload {
        border-radius: 10px;
        border: 6px ridge black;
        position: absolute;
        left: 150px;
        top: 74px;
        width: 640px;
        height: 360px;
    }

    .clickable-matthewtgm {
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 55px;
        margin: 0px;
        text-align: center;
        -webkit-text-stroke: 1px white;
        position: absolute;
        top: 0px;
        left: 322px;
    }

    .clickable-matthewtgm:hover {
        cursor:pointer;
        float: right;
        top: -2px;
        left: 335px;
    }
}














@media only screen and (min-width: 1000px) {
    .main-page-h1 {
        color: rgb(0, 0, 0);
        font-size: 60px;
        position: absolute;
        top: 130px;
        margin: 0px;
        text-align:  center;
        -webkit-text-stroke: 1px white;
    }
    
    .main-page-h2 {
      color: rgb(0, 0, 0);
      font-size: 55px;
      position: absolute;
      top: 310px;
      margin: 0px;
      text-align: center;
      -webkit-text-stroke: 1px white;
    }
    
    .main-page-paragraph {
      color: brown;
      font-size: 35px;
      margin: 100px;
      text-align: center;
    
    }
    
    nav {
        width: 1920px;
        height: 100px;
        background-color: rgb(175, 175, 175);
        position: absolute;
        left: 0px;
        margin: 0px;
        padding: 0px;
        display: block;
    }
    
    ul {
        margin-top: 100px;
        margin: 0px;
        padding: 0px;
    }
    
    ul li {
        list-style: none;
        display: inline-block;
        margin-top: 100px;
        margin: 0px;
        padding: 0px;
    }
    
    ul li a {
        position: relative;
        left: 188px;
        text-decoration: none;
        font-size: 28px;
        font-family: sans-serif;
        margin-left: 93px;
        padding: 0px;  
        display: inline;
        color: #1e1e1e; 

        transition: all 0.5s ease-in;
    }
    
    ul li a:hover {
        color: rgb(173, 58, 58);

        transition: all 0.5s ease-in;
    }
    
    .yticon {
        margin-top: 0px;
        position: absolute;
        left: 292px;
        top: 30px;
        background-image: url(img/icons/YouTube.png);

        transition: all 0.5s ease-in;
    }

    .yticon:hover {
        background-image: url(img/icons/YouTube-hover.png);

        transition: all 0.5s ease-in;
    }
    
    .twittericon {
        margin-top: 0px;
        position: absolute;
        left: 505px;
        top: 30px;
        background-image: url(img/icons/Twitter.png);

        transition: all 0.5s ease-in;
    }

    .twittericon:hover {
        background-image: url(img/icons/Twitter-hover.png);

        transition: all 0.5s ease-in;
    }
    
    .twitchicon {
        margin-top: 0px;
        position: absolute;
        left: 680px;
        top: 30px;
        background-image: url(img/icons/Twitch.png);

        transition: all 0.5s ease-in;
    }

    .twitchicon:hover {
        background-image: url(img/icons/Twitch-hover.png);

        transition: all 0.5s ease-in;
    }
    
    .instaicon {
        margin-top: 0px;
        position: absolute;
        left: 882px;
        top: 30px;
        background-image: url(img/icons/Instagram.png);

        transition: all 0.5s ease-in;
    }

    .instaicon:hover {
        background-image: url(img/icons/Instagram-hover.png);

        transition: all 0.5s ease-in;
    }

    .patreonicon {
        position: absolute;
        left: 1074px;
        top: 30px;
        background-image: url(img/icons/patreon.png);

        transition: all 0.5s ease-in;
    }

    .patreonicon:hover {
        background-image: url(img/icons/patreon-hover.png);

        transition: all 0.5s ease-in;
    }

    .discordicon {
        position: absolute;
        left: 1275px;
        top: 30px;
        background-image: url(img/icons/discord.png);

        transition: all 0.5s ease-in;
    }

    .discordicon:hover {
        background-image: url(img/icons/discord-hover.png);

        transition: all 0.5s ease-in;
    }
    
    .thingsicon {
        margin-top: 0px;
        position: absolute;
        left: 1502px;
        top: 30px;
        background-image: url(img/icons/videothings.png);

        transition: all 0.5s ease-in;
    }

    .thingsicon:hover {
        background-image: url(img/icons/videothings-hover.png);

        transition: all 0.5s ease-in;
    }

    .discordwidget {
        border-radius: 15px;
        border: 4px solid black;
        width: 450px;
        position: absolute;
        top: 800px;
        left: 700px;
    }

    .mostrecentupload {
        border-radius: 10px;
        border: 6px ridge black;
        position: absolute;
        left: 502px;
        top: 225px;
        width: 854px;
        height: 480px;
    }

    .clickable-matthewtgm {
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 55px;
        margin: 0px;
        text-align: center;
        -webkit-text-stroke: 1px white;
        position: absolute;
        top: 101px;
        left: 771px;

        transition: all 0.1s ease-in-out;
    }

    .clickable-matthewtgm:hover {
        cursor:pointer;
        float: right;
        top: 97px;
        left: 775px;

        transition: all 0.1s ease-in-out;
    }
}









@media only screen and (max-width: 452px) {

    .main-page-h1 {
        color: rgb(0, 0, 0);
        font-size: 60px;
        position: absolute;
        top: 130px;
        margin: 0px;
        text-align:  center;
        -webkit-text-stroke: 1px white;
    }
    
    .main-page-h2 {
      color: rgb(0, 0, 0);
      font-size: 55px;
      position: absolute;
      top: 310px;
      margin: 0px;
      text-align: center;
      -webkit-text-stroke: 1px white;
    }
    
    .main-page-paragraph {
      color: brown;
      font-size: 35px;
      margin: 100px;
      text-align: center;
    
    }
    
    nav {
        width: 1920px;
        height: 100px;
        background-color: rgb(175, 175, 175);
        position: absolute;
        left: 0px;
        margin: 0px;
        padding: 0px;
        display: none;
    }
    
    ul {
        margin-top: 100px;
        margin: 0px;
        padding: 0px;
    }
    
    ul li {
        list-style: none;
        display: inline-block;
        margin-top: 100px;
        margin: 0px;
        padding: 0px;
    }
    
    ul li a {
        position: relative;
        left: 188px;
        text-decoration: none;
        font-size: 28px;
        font-family: sans-serif;
        margin-left: 93px;
        padding: 0px;  
        display: inline;
        color: #1e1e1e; 

        transition: all 0.5s ease-in;
    }
    
    ul li a:hover {
        color: rgb(173, 58, 58);

        transition: all 0.5s ease-in;
    }
    
    .yticon {
        margin-top: 0px;
        position: absolute;
        left: 50px;
        top: 800px;
        background-image: url(img/icons/YouTube.png);

        transition: all 0.5s ease-in;
    }

    .yticon:hover {
        background-image: url(img/icons/YouTube-hover.png);

        transition: all 0.5s ease-in;
    }
    
    .twittericon {
        margin-top: 0px;
        position: absolute;
        left: 300px;
        top: 800px;
        background-image: url(img/icons/Twitter.png);

        transition: all 0.5s ease-in;
    }

    .twittericon:hover {
        background-image: url(img/icons/Twitter-hover.png);

        transition: all 0.5s ease-in;
    }
    
    .twitchicon {
        margin-top: 0px;
        position: absolute;
        left: 60px;
        top: 900px;
        background-image: url(img/icons/Twitch.png);

        transition: all 0.5s ease-in;
    }

    .twitchicon:hover {
        background-image: url(img/icons/Twitch-hover.png);

        transition: all 0.5s ease-in;
    }
    
    .instaicon {
        margin-top: 0px;
        position: absolute;
        left: 300px;
        top: 900px;
        background-image: url(img/icons/Instagram.png);

        transition: all 0.5s ease-in;
    }

    .instaicon:hover {
        background-image: url(img/icons/Instagram-hover.png);

        transition: all 0.5s ease-in;
    }

    .patreonicon {
        position: absolute;
        left: 60px;
        top: 1000px;
        background-image: url(img/icons/patreon.png);

        transition: all 0.5s ease-in;
    }

    .patreonicon:hover {
        background-image: url(img/icons/patreon-hover.png);

        transition: all 0.5s ease-in;
    }

    .discordicon {
        position: absolute;
        left: 300px;
        top: 1000px;
        background-image: url(img/icons/discord.png);

        transition: all 0.5s ease-in;
    }

    .discordicon:hover {
        background-image: url(img/icons/discord-hover.png);

        transition: all 0.5s ease-in;
    }
    
    .thingsicon {
        margin-top: 0px;
        position: absolute;
        left: 180px;
        top: 1100px;
        background-image: url(img/icons/videothings.png);

        transition: all 0.5s ease-in;
    }

    .thingsicon:hover {
        background-image: url(img/icons/videothings-hover.png);

        transition: all 0.5s ease-in;
    }

    .discordwidget {
        border-radius: 15px;
        border: 4px solid black;
        width: 340px;
        position: absolute;
        top: 280px;
        left: 30px;
    }

    .mostrecentupload {
        border-radius: 10px;
        border: 6px ridge black;
        position: absolute;
        left: 40px;
        top: 75px;
        width: 320px;
        height: 186px;
    }

    .clickable-matthewtgm {
        color: rgb(0, 0, 0);
        text-decoration: none;
        font-size: 55px;
        margin: 0px;
        text-align: center;
        -webkit-text-stroke: 1px white;
        position: absolute;
        top: 0px;
        left: 50px;

        transition: all 0.1s ease-in-out;
    }

    .clickable-matthewtgm:hover {
        cursor:pointer;
        float: right;
        top: -1px;
        left: 57px;

        transition: all 0.1s ease-in-out;
    }

    /*  ### FOOTER ### */

.footer {
    background: rgb(88, 88, 88);
    color: rgb(168, 168, 168);
    height: 400px;
    position: relative;
    top: 1380px;
}

.footer .footer-content {
    height: 350px;
    display: flex;
}

.footer .footer-content .footer-section {
    flex: 1;
    padding: 25px;
    border: 1px solid rgb(165, 165, 165);
}

.footer .footer-content .footer-section .contact {
    position: relative;
    top: 20px;
    left: 150px;
}

.footer .footer-content .footer-section .contact span {
    font-size: 21px;
    color: rgb(218, 218, 218)
}

.footer .footer-content h1,
.footer .footer-content h2 {
    color: white;
}

.footer .footer-content .about h1 span {
    font-size: 25px;
    color: lightblue;
}

.footer .footer-content .about h1 {
    font-size: 25px;
    color: gold;
}

.footer .footer-content .links ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: rgb(219, 211, 211);

    transition: all 0.5s ease-in;
}

.footer .footer-content .links ul a:hover {
    color: rgb(255, 78, 78);

    transition: all 0.5s ease-in;
}

.footer .footer-bottom {
    background: rgb(71, 71, 71);
    color: rgb(145, 145, 145);
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    border: 1px solid rgb(129, 129, 129)
}

.img-bg, body {
    height: 100%;
    background-color: rgb(128, 128, 128);
}

/* #### END OF FOOTER #### */

}
