/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



nav {
    width: 1891px;
    height: 100px;
    background-color: rgb(201, 201, 201);
    position: absolute;
    left: 0px;
    margin: 0px;
    padding: 0px;
}

ul li a {
    text-decoration: none;
    font-size: 28px;
    font-family: sans-serif;
    margin-top: 100px;
    margin-left: 852px;
    padding: 30px;  
    color: #1e1e1e;
}

ul li a:hover {
    color: rgb(173, 58, 58);
}

.img-bg {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 0;
    background-color: rgb(128, 128, 128);
}

.personal-img {
    position: absolute;
    top: 181px;
    left: 131px;
    border: 6px solid black;
    border-radius: 15px;
}

.personal-text {
    font-size: 55px;
    position: absolute;
    top: 522px;
    left: 148px;
    color: #1e1e1e;
    text-decoration: none;
    white-space: nowrap;
}
.personal-text:hover {
    color: rgb(129, 41, 41);
}
.homeicon {
    width: 64px;
    height: 64px;
}