.bg {
    background-color: gray;
}





.channelname {
    position: relative;
    top: 160px;
    font-size: 160px;
}

.subcount {
    position: relative;
    top: 160px;
    font-size: 75px;
}

.submit-btn {
    position: relative;
    top: 60px;
    cursor: pointer;
}

.submit-btn:hover {
    outline: 0 !important;
}

.submit-btn:focus {
    outline: 0 !important;
}

.channel_id-btn {
    position: relative;
    top: 60px;
    border: 1px solid black !important;
    cursor: text;
}

.channel_id-btn:hover {
    border: 1px solid black !important;
    outline: 0 !important;
}

.channel_id-btn:focus {
    outline: 0 !important;
}

.sub_count-text {
    display: none;
}

nav {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
    width: 1878px;
    height: 100px;
    background-color: rgb(175, 175, 175);
}

ul li a {
    position: relative;
    top: -20px;
    left: 860px;
    text-decoration: none;
    font-size: 28px;
    color: #1e1e1e;
}