@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,600&display=swap");
body {
  width: 100vw;
  height: 110vh;
  padding: 0;
  margin: 0;
  margin-bottom: 5%;
  overflow-x: hidden;
  background-color: var(--dark);
}

body.red {
  --dark: #250216;
  --mid: #a15266;
  --light: #ebabbb;
}

body.green {
  --dark: #022502;
  --mid: #52a156;
  --light: #b0ebab;
}

body.blue {
  --dark: #021425;
  --mid: #527da1;
  --light: #abceeb;
}

body.baw {
  --dark: #000000;
  --mid: #afafaf;
  --light: #ffffff;
}

body.tas {
  --dark: #0c0c0c;
  --mid: #ff006a;
  --light: #ffffff;
}

body * {
  font-family: 'Nunito', sans-serif;
}

body a {
  color: var(--mid);
  font-style: italic;
  text-decoration: none;
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}

body a:hover {
  color: var(--light);
}

body button, body .button {
  color: var(--light);
  background: none;
  cursor: pointer;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--mid);
  -webkit-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}

body button:hover, body button:active, body .button:hover, body .button:active {
  border-color: var(--light);
}

.navigation {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navigation .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.navigation .logo h2, .navigation .logo h2 > a {
  font-size: 4vmin;
  font-weight: lighter;
  font-style: normal;
  margin-left: 2vmin;
  color: white;
}

.navigation .logo img {
  width: 5vmin;
  height: 5vmin;
}

.navigation .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
  font-size: 2vmin;
}

footer {
  position: absolute;
  width: 100%;
  margin-bottom: 2vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer sub {
  font-size: 1.5vmin;
  color: var(--light);
}

footer .themes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  list-style: none;
}

footer .themes .theme {
  font-size: 1.5vmin;
}

footer .themes .theme.tas {
  color: #ff006a;
  border-color: #ff006a;
}

footer .themes .theme.baw {
  color: #afafaf;
  border-color: #afafaf;
}

footer .themes .theme.red {
  color: #a15266;
  border-color: #a15266;
}

footer .themes .theme.green {
  color: #52a156;
  border-color: #52a156;
}

footer .themes .theme.blue {
  color: #527da1;
  border-color: #527da1;
}

.splash {
  height: 50vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.splash h1 {
  color: var(--light);
  font-size: 7vmin;
  margin: 0;
}

.splash sub {
  color: var(--mid);
  font-size: 2vmin;
  font-style: italic;
  font-weight: lighter;
  opacity: 0.5;
  margin: 0;
}

.splash .cta {
  margin-top: 3vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
}

.splash .cta button, .splash .cta .button {
  font-size: 3vmin;
  font-style: normal;
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 40%;
  width: 100%;
  margin-bottom: 2.5%;
}

.media iframe, .media img {
  width: 50%;
  height: 30vmin;
  -webkit-box-flex: 0.45;
      -ms-flex: 0.45;
          flex: 0.45;
}

@media only screen and (max-width: 800px) {
  .media iframe, .media img {
    display: none;
  }
}

.media iframe.square, .media img.square {
  width: 30vmin;
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
}

.media .text {
  width: 40%;
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
}

@media only screen and (max-width: 800px) {
  .media .text {
    -webkit-box-flex: 0.8;
        -ms-flex: 0.8;
            flex: 0.8;
  }
}

.media .text h1 {
  color: var(--light);
  font-weight: bold;
  font-size: 4vmin;
}

.media .text p {
  color: var(--mid);
  font-size: 1.75vmin;
}

.projects {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(60vmin, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(60vmin, 1fr));
  justify-items: center;
}

.projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80vw;
  max-width: 55vmin;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  padding: 1.5%;
  margin: 1.5% 0;
}

.projects .project h1 {
  margin-top: 0%;
  font-size: 3vmin;
  color: var(--light);
}

.projects .project p {
  margin: 0%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 2vmin;
  color: var(--mid);
}

.projects .project .links a {
  float: right;
  margin-left: 2.5%;
  font-size: 2vmin;
}

.projects .project .links a i {
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}

.projects .project .links a.ic:hover > i {
  color: var(--light);
}

.container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .meta {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 2.5%;
  margin-left: 10%;
  margin-bottom: 2.5%;
  border: none;
  border-left: 2px solid var(--mid);
}

.container .meta h1 {
  color: var(--light);
  font-weight: bold;
  font-size: 4vmin;
  margin: 0;
}

.container .meta sub {
  color: var(--mid);
  font-size: 1.75vmin;
  margin: 0;
}

.container .meta a {
  width: 5%;
  margin-top: 0.5%;
  text-align: center;
  border-bottom: 2px solid var(--mid);
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.container .meta a:hover, .container .meta a:active {
  border-color: var(--light);
}

.container .text {
  font-size: 2.25vmin;
  color: var(--light);
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 6.5%;
  margin-bottom: 4%;
}
/*# sourceMappingURL=home.css.map */