<!DOCTYPE html>
<html lang="en">
<head>
    
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Styling -->
    <link rel="stylesheet" href="/p/style/main.css">
    <link rel="stylesheet" href="/p/style/home.css">

    <!-- Scripts -->
    <script src="/p/scripts/themes.js"></script>

    <!-- Title -->
    <title>404 • MatthewTGM</title>

</head>
<body onload="load_theme()" class="blue">

    <div class="navigation">

        <div class="logo">

            <!-- <img src="/p/images/Matthew.jpg" alt="MatthewTGM"> -->
            <h2><a href="/">MatthewTGM</a></h2>

        </div>

        <ul class="links">
            
            <!-- Video Platforms -->
            <li><a href="https://youtube.com/matthewtgm" target="_blank">YouTube</a></li>
            <li><a href="https://twitch.tv/matthewtgm_yt" target="_blank">Twitch</a></li>

            <!-- Social Medias -->
            <li><a href="https://twitter.com/matthewtgmreal" target="_blank">Twitter</a></li>
            <li><a href="https://instagram.com/matthewtgm_yt" target="_blank">Instagram</a></li>

            <!-- Supporter Channels -->
            <li><a href="https://patreon.com/matthewtgm" target="_blank">Patreon</a></li>
            <li><a href="https://discord.gg/xfqFzDP" target="_blank">Discord</a></li>

            <!-- Other -->
            <li><a href="/extras" target="_blank">Files</a></li>

        </ul>

    </div>
    
    <div class="splash">

        <h1>Uh oh...</h1>
        <sub>Looks like you've stumbled across a page that doesn't exist.</sub>

        <div class="cta">

            <a href="/" class="button">Head Home?</a>

        </div>

    </div>

    <div class="container" style="min-height: 50vh;"></div>


    <!-- Footer -->
    <footer>

        <sub>© tascord, MatthewTGM 2020 | Designed and built by tascord</sub>
        <div class="themes">

            <li><button onclick="apply_theme('tas')"   class="theme tas"   >tas</button></li>
            <li><button onclick="apply_theme('baw')"   class="theme baw"   >black</button></li>
            <li><button onclick="apply_theme('blue')"  class="theme blue"  >blue</button></li>
            <li><button onclick="apply_theme('green')" class="theme green" >green</button></li>
            <li><button onclick="apply_theme('red')"   class="theme red"   >red</button></li>

        </div>

    </footer>

</body>
</html>