.cutefurrygirlfuck {
    position: relative;
    left: 300px;
    border: 10px solid black;
    border-radius: 15px;
}

.caught-eipril {
    position: relative;
    left: 300px;
    border: 10px solid black;
    border-radius: 15px;
}

.reggieandshannon {
    position: relative;
    left: 300px;
    border: 10px solid black;
    border-radius: 15px;
}

.fox-bluedragon {
    position: relative;
    left: 300px;
    border: 10px solid black;
    border-radius: 15px;
}

.counterplay-eipril {
    position: relative;
    left: 300px;
    border: 10px solid black;
    border-radius: 15px;
}

.yiff-comp-30 {
	    position: relative;
    left: 300px;
    border: 10px solid black;
    border-radius: 15px;
}

.twisted-sister-comic {
	    position: relative;
    left: 300px;
    border: 10px solid black;
    border-radius: 15px;
}

.renamon-blowjob {
	    position: relative;
    left: 300px;
    border: 10px solid black;
    border-radius: 15px;
}

.bunny-on-top {
	    position: relative;
    left: 300px;
    border: 10px solid black;
    border-radius: 15px;
}

.yaoi-femboys-2 {
	    position: relative;
    left: 300px;
    border: 10px solid black;
    border-radius: 15px;
}

.gay-straight-comp-vol-2 {
    position: relative;
    left: 300px;
    border: 10px solid black;
    border-radius: 15px;
}

.bisexual-pants-off {
	    position: relative;
    left: 300px;
    border: 10px solid black;
    border-radius: 15px;
}

.bisexual-animated-end-vol-5 {
	    position: relative;
    left: 300px;
    border: 10px solid black;
    border-radius: 15px;
}

.every-fuzzamorous-straight-comp {
	    position: relative;
    left: 300px;
    border: 10px solid black;
    border-radius: 15px;
}

.brolaren-comp {
	    position: relative;
    left: 300px;
    border: 10px solid black;
    border-radius: 15px;
}








.background {
	background-image: url(background.jpg)
}

.password {
    position: relative;
    top: 60px;
}


